*body{
    background-color: black;
    margin: 0px;

}
.container{
    background-color: black;
    color: white;
    width:500px;
    height:250px;
    text-align: center;
    box-shadow: 20,20,20,0.5;
    padding-top: 10px;
}
