* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: black;
    color: white;
    width:500px;
    height:250px;
    text-align: center;
    box-shadow: 20,20,20,0.5;
    padding-top: 10px;
}
.navbar {
    position: absolute;
    top:5px;
    left: 230px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
}

img{
    width:35px;
    height:35px;
    padding-top: 13px;
}
.login-box {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
}

.google-btn {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    display: flex; /* Changed to flex to align content */
    align-items: center; /* Vertically centers content */
    justify-content: center; /* Horizontally centers content */
    width: 90%;
    margin-left: 25px;
    position: relative;
}
.create-account-btn{
    background-color: #4074b8;
    color: white;
    margin-top: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: 45%;
    margin-left: 120px;
}

.google-btn:hover, .create-account-btn:hover {
    background-color: #555;
}

.button-logo {
    width: 30px;
    height: 40px; 
    margin-right: 10px;
    position: relative;
    padding-bottom: 10px;
}


