* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: black;
    color: white;
    width:500px;
    height:250px;
    text-align: center;
    box-shadow: 20,20,20,0.5;
    padding-top: 10px;
}
.navbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 5px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
}

.logo-img {
    width: 35px;
    height: 35px;
    margin-right: 10px; 
}

img {
    padding-top: 0; 
}
.login-box {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0.1px grey solid;
}

h2 {
    margin-bottom: 20px;
}

.google-btn {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    display: flex; /* Changed to flex to align content */
    align-items: center; /* Vertically centers content */
    justify-content: center; /* Horizontally centers content */
    width: 90%;
    margin-left: 25px;
    position: relative;
}
.create-account-btn{
    background-color: #4074b8;
    color: white;
    margin-top: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: 45%;
    margin-left: 120px;
}

.google-btn:hover, .create-account-btn:hover {
    background-color: #555;
}

.button-logo {
    width: 25px;
    height: 40px; 
    margin-right: 10px;
    position: relative;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}

footer {
    width: 100%;
    position: fixed; 
    bottom: 0; 
    background-color: #1a1a1a; 
    color: grey; 
    text-align: center; 
    padding: 10px 0; 
    font-size: 10px; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); 
}


